.main_container {
    overflow: none;
    padding: 10px;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.container1 {
    width: 100%;
    overflow: none;
    height: 200px;
    margin: auto;
    text-align: center;
}

.name {
    font-size: 90px;
    animation: 2s slide-up;
    font-weight: 700;
}

.qualification {
    font-size: 35px;
    animation: 5s slide-up;

}

@keyframes slide-up {
    from {
        margin-top: 10%;
    }

    to {
        margin-top: 0%;
    }
}


.container2 {
    width: 95%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgba(239, 218, 247, 0.692);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: none;
}

.profile_picture_container {
    width: 500px;
    height: auto;
}

.profile_picture {
    width: 500px;
    height: 500px;
    display: inherit;
    padding: 20px;
}

.intro {
    width: auto;
    height: auto;
    padding: 20px 20px;
    font-size: 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.heading {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
}

.container3 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 30px;
}

.subcontainer {
    height: 200px;
    width: 200px;
    background-color: rgba(204, 236, 212, 0.712);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10px;
    text-align: center;
    padding-top: 50px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.skill {
    font-weight: bold;
    font-size: 25px;
}

.skill_desc {
    font-size: 15px;
    padding: 5px;

}

.blog {
    font-size: 15px;
    padding-top: 5px;
    text-decoration: none;
    color: black;
}


