@media screen and (max-width: 800px) {


    .nav {
        top: 0;
        height: 70px;
        width: 100%;
        text-align: right;
    }

    .button {
        margin: 10px;
        display: inline-block;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #2d6a7e;
        border-radius: 6px;
        border: 0.1px rgba(0, 0, 0, 0.116) solid;
        outline: none;
        cursor: pointer;
        box-shadow: 0 5px 10px -1px rgba(255, 255, 255, 0.336);

    }

    .button:hover {
        border: 0.1px rgba(56, 195, 238, 0.192) solid;
        background-color: #00bbfa;
        color: #000000;
        transition-delay: .1s;
        transition-duration: .5s;
        box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.336);

    }

    .container1 {
        width: 100%;
        overflow: none;
        height: 100px;
        margin: auto;
        text-align: center;
    }

    .name {
        font-size: 40px;
        animation: 2s slide-up;
    }

    .qualification {
        font-size: 15px;
        animation: 5s slide-up;
    }

    @keyframes slide-up {
        from {
            margin-top: 10%;
        }

        to {
            margin-top: 0%;
        }
    }


    .container2 {
        width: 100%;
        height: auto;
        margin: auto;
        background-color: rgba(239, 218, 247, 0.692);
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 5px;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        overflow: none;
    }

    .profile_picture_container {
        width: 100%;
        height: auto;
    }

    .profile_picture {
        width: 300px;
        height: 300px;
        padding: 20px;
        margin: auto;
    }

    .intro {
        width: 100%;
        padding: 10px 10px;
        font-size: 15px;
        text-align: justify;
        display: flex;
        justify-content: space-around;
    }

    .heading {
        margin-top: 30px;
        margin-bottom: 10px;
        height: 50px;
    }

    .container3 {
        display: flex;
        height: auto;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .subcontainer {
        height: 170px;
        width: 150px;
        background-color: rgba(204, 236, 212, 0.712);
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px,
            rgba(0, 0, 0, 0.09) 0px 4px 2px,
            rgba(0, 0, 0, 0.09) 0px 8px 4px,
            rgba(0, 0, 0, 0.09) 0px 16px 8px,
            rgba(0, 0, 0, 0.09) 0px 32px 16px;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        color: rgb(0, 0, 0);
        margin: 10px;
    }

    .skill {
        font-weight: bold;
        font-size: 20px;
    }

    .skill_desc {
        font-size: 15px;
        padding: 5px;
    }

    .subfoot {
        height: 30px;
    }
    .copyrights p{
        font-size: 15px;
    }

}